<%
  @breadcrumbs = [
    {
      title: 'Пользователи',
      path: users_path
    },
    {
      title: @user.email,
      path: user_path(@user),
    },
  ]
%>

<div class="card ">
  <div class="card-header bg-primary">
    <h3 class="card-title">Пользователь</h3>
    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
    </div>
  </div>

  <div class="card-body table-responsive p-0">
    <div id="element_container_user_form84617" class="element_container form-panel">
      <table class="table table-in-card table-striped">
        <tbody>
        <tr>
          <th>E-mail</th>
          <td><%= @user.email %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-footer ">
    <%# if can?(:update, @user) %>
    <%= link_to(icon('fas', 'edit', 'Редактировать'), edit_user_path(@user), class: 'btn btn-primary') %>
    <%# end %>

    <%= link_to icon('fas', 'arrow-left', 'Назад'), users_path, class: 'btn btn-secondary' %>

    <%# if can?(:destroy, @user) %>
    <%= link_to(icon('fas', 'trash-alt', 'Удалить'), @user,
                method: :delete, data: { confirm: 'Вы уверены?' },
                class: 'btn btn-danger float-right') %>
    <%# end %>
  </div>
</div>

