<%= draw_main_title({title: 'Статистика'}) %>

<div class="row">
    <div class="col-sm-3">
        <div class="card bg-primary">
            <div class="card-header">
                <h3 class="card-title">Пользователи</h3>
            </div>
            <div class="card-body">
                Всего: <%= User.all.size %>
            </div>
<!--            <div class="card-footer">-->
<!--                The footer of the card-->
<!--            </div>-->
        </div>
    </div>
</div>