<%
    # def draw_menu(m)
    #     <<-IKJ
    #     <li class="nav-item">
    #       <a href='#{m.href}' class="nav-link#{current_page?(m.href) ? ' active' : ''}">
    #         <i class="nav-icon fas #{m.icon}"></i>
    #         <span class="menu-label"><p>#{m.label}</p></span>
    #       </a>
    #     </li>
    #     IKJ
    # end
    #
    # def draw_group_label(m)
    #   <<-IKJ
    #     <li class="nav-item">
    #       <a class="nav-link">
    #         <p>#{m.label}</p>
    #       </a>
    #     </li>
    #   IKJ
    # end
    #
    # menu = controller.menu
%>

<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">

    </ul>
</nav>
<!-- /.sidebar-menu -->