<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary" elevation-4">

  <a href=<%= root_path %> class="brand-link">
    <!--        <img src="/tms_logo_old.svg" class="icon-inline--fa logo"/>-->
    <i class="fas fa-atom"></i>
    <span class="brand-text font-weight-light">&nbsp;Smart Humster</span>
  </a>

  <div class="sidebar">
    <!-- Sidebar Menu -->
    <%= render 'layouts/lte/sidebar_menu' %>
    <!-- /.sidebar-menu -->
  </div>

</aside>
