<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
      <li class="nav-item">
        <a href='<%= users_path %>' class="nav-link<%= current_page?(users_path) ? ' active' : '' %>">
          <i class="nav-icon fas fa-users"></i>
          <p>Пользователи</p>
        </a>
      </li>
    </ul>
</nav>
<!-- /.sidebar-menu -->