<p>Здравствуйте <%= @resource.username %>!</p>

<p>Для изменения пароля пройдите по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если это не вы отправили запрос на изменение пароля, просто проигнорируйте письмо.</p>
<p>Ваш пароль не изменится до тех пор пока вы не пройдёте по ссылке.</p>
